currentTime #{curTime}
ol
	each photo in photos
		ul
			li= 'id: ' + photo.id
			li= 'latitude: ' + photo.latitude
			li= 'longitude: ' + photo.longitude
			li= 'filepath: ' + photo.filepath
			li= 'filesize: ' + photo.filesize
			li= 'description: ' + photo.description
			li= 'camera: ' + photo.camera
			li= 'fstop: ' + photo.fstop
			li= 'iso: ' + photo.iso
			li= 'upvote: ' + photo.upvote
			li= 'downvote: ' + photo.downvote
			li= 'userID: ' + photo.userID
