/*CSS RESET*/
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, 
pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, 
strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, 
legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, 
canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, 
section, summary,time, mark, audio, video {    
	margin:0;    
	padding:0;   
	border:0;    
	outline:0;   
	font-size:100%;    
	vertical-align:baseline;    
	background:transparent;}

body {    
	line-height:1;

}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {    
	display:block;

}

nav ul {    
	list-style:none;

}

blockquote, q {    
	quotes:none;

}blockquote:before, blockquote:after,q:before, q:after {
	     content:'';   
		  content:none;

 }
 
a {
	margin:0;    
	padding:0;    
	font-size:100%;    
	vertical-align:baseline;    
	background:transparent;

}

ins {    
	background-color:#ff9;    
	color:#000;    
	text-decoration:none;

}
mark {    
	background-color:#ff9;    
	color:#000;    
	font-style:italic;    
	font-weight:bold;

}

del {    
	text-decoration: line-through;

}

abbr[title], dfn[title] {    
	border-bottom:1px dotted;    
	cursor:help;

}

table {    
	border-collapse:collapse;    
	border-spacing:0;

}

hr {    
	display:block;    
	height:1px;    
	border:0;    
	border-top:1px solid #cccccc;    
	margin:1em 0;    
	padding:0;

}

input, select {    
	vertical-align:middle;

}

/*End CSS Reset*/
html, body{
	padding: 0; 
	margin: 0;

}

#globe{
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0; 
    background-color: #000; 
	position: absolute !important;
	z-index:1;
}

#header{ 
	z-index:10;
	width:100%;
	height:100px;    
    position: absolute;
}

#stats{ 
	z-index: 10;
	width: 263px;
	height: 285px;
	right: 70px;
	top: 40px;
	position: absolute;
}

.statsTitle{
	width: 230px;
	padding: 15px;
}

.logo{
	width: 230px;
	padding: 15px;
}

.snapPhoto {
	width: 150px;
	height:auto;
}

.statsLabel{
	font-family: 'Syncopate', sans-serif;
	color:#FFF;
}

.statsData{
	font-family: 'Syncopate', sans-serif;
	color:#FFF;
}

.statsWrap{
	padding:10px;
}